name = "this-year-limit"
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true

[assets]
directory = "./src"
binding = "ASSETS"
